.input-row table,
tr,
td {
    padding: 0;
    margin: 0;
    width: 100%;
}

.input-row-name {
    text-align: left;
}

.input-row table tr {
    text-align: left;
}

.input-row .input {
    width: 500px;
    height: 30px;
}

.input-row-name {
    font-size: large;
}

.input-row input {
    border: 1px solid black;
    border-radius: 5px;
}

.input-row-add .input {
    width: 500px;
    padding-left: 5px;
}

.input-row-add {
    width: 500px;
    position: relative;
}

.add-item {
    right: 5px;
    top: 5px;
    height: 20px;
    border-radius: 50%;
    background: bisque;
    width: 20px;
    position: absolute;
    text-align: center;
}

.items {
    margin-left: 115px;
}

.remove-item {
    position: absolute;
    right: 7px;
    top: 0px;
    height: 20px;
    border-radius: 50%;
    background: bisque;
    width: 20px;
}

.item-element {
    position: relative;
}